*.iml
.gradle
/local.properties
.idea
.navigation
output.json
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/tasks.xml
/.idea/shelf
/.idea/libraries
/.idea/caches
/.idea/libraries
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/google-services.json
